<div class="row">
    <div class="col">
        <div class="row">

            <div class="col">
                <nav class="navbar navbar-expand-lg bg-secondary">
                    <img src="../assets/img/logo-heritage-600px.png" alt="logo" id="logo">
                    <a class="navbar-brand text-white col-md-5" routerLink="/home"> Heritage Bank </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2 rounded-0" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-primary my-2 my-sm-0 rounded-0" type="submit">Search</button>
                            </form>

                            <li class="nav-item">
                                <a class="nav-link text-white ml-3" routerLink="/inscription">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning" routerLink="/login" id="connexion">Connexion</a>
                            </li>

                        </ul>
                    </div>
                </nav>


                <header>
                    <!-- second_content -->

                    <div id="second_content" class="d-flex flex-row-reverse bd-highlight mt-2">


                        <div class="row">

                            <!-- Menu -->
                            <div class="dropdown ">
                                <button class="dropdown-toggle p-2  mx-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../assets/img/menu.png" alt="" class="mr-2">MENU</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">Virement</button>
                                    <button class="dropdown-item" type="button">Demande</button>
                                    <button class="dropdown-item" type="button">Consultation solde</button>
                                </div>
                            </div>
                            <!-- FIN Menu -->

                            <!-- Contact -->
                            <div class="mr-2">
                                <button type="button" class=" p-2 mx-2" id="gold"><img src="../assets/img/chat.png" alt=""
                      class="mr-2">CONTACT</button>
                            </div>
                            <!-- FIN Contact -->

                        </div>

                    </div>

                    <!-- FIN  Second_content -->

                </header>

            </div>
        </div>

    </div>
</div>
<router-outlet></router-outlet>


<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <div class="inside_footer">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase text-white">COMPTES BANCAIRES ET ÉPARGNE</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Liens</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white">Ouvrir un compte</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Comptes et services associés</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Cartes bancaires</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">COMPTES BANCAIRES ET ÉPARGNE</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Lins</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white">Transfert d'argent</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Livret A</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Livrets</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Assurance vie</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" id="copyright"> © 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> BankHeritage.com</a>
        </div>
        <!-- Copyright -->


        <!-- Footer -->




    </div>

</footer>