<div class="offset-3 col-6">
    <form action="" class="form-group">
        <div class="card border-primary rounded-0">
            <div class="card-header p-0">
                <div class="bg-info text-white text-center py-2">
                    <h3>Conseiller {{conseiller.mat_conseiller}} </h3>
                </div>
            </div>
            <div class="card-body p-3">
                <!--Body-->
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                        </div>
                        <input class="form-control" placeholder="{{conseiller.nom}}" disabled>
                        <input class="form-control" placeholder="{{conseiller.prenom}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-2 ">
                        <div class="input-group-prepend ">
                            <div class="input-group-text"><i class="fa fa-home text-info"></i></div>
                            <input class="form-control col-12" placeholder="{{conseiller.adresse}}" disabled>
                        </div>

                        <input class="form-control" placeholder="{{conseiller.cp}}" disabled>
                        <input class="form-control" placeholder="{{conseiller.ville}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                        </div>
                        <input class="form-control" placeholder="{{conseiller.email}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-phone text-info"></i></div>
                        </div>
                        <input class="form-control" placeholder="{{conseiller.telephone}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-key text-info"></i></div>
                        </div>
                        <input class="form-control" placeholder="{{conseiller.pseudo}}" disabled>
                        <input class="form-control" placeholder="{{conseiller.mdp}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-calendar text-info"></i></div>
                        </div>
                        <input class="form-control" placeholder="{{conseiller.datedebut}}" disabled>
                        <input class="form-control" placeholder="{{conseiller.datefin}}" disabled>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>