<!-- third_content-->
<main class="third_content">

    <div id="inside_third_content">
        <h1>BIENVENUE
            <h1 class="text-warning">CHEZ NOUS</h1>
        </h1>
        <div class="row">

            <div class="col-md-4">
                <img class="mx-auto" src="../assets/img/joy.jpg" alt="image1_tc" id="image1_tc">
            </div>

            <div class="col-md-4">
                <img src="../assets/img/keyoflife.jpg" alt="image2_tc" id="image2_tc">
            </div>


            <div class="col-md-3">

                <p> <span>C</span>hez HeritageBank, vos cartes bancaires sont toujours gratuites (Détail des conditions) ainsi que de nombreux services : tenue de compte, paiements et retraits en euros en France et à l'étranger ou encore prélèvements et virements
                    en euros en France et en Zone SEPA... Et bien d'autres encore... autant de bonnes raisons de choisir HeritageBank !</p>
            </div>

        </div>

    </div>


    <div id="inside_third_content">
        <div class="row mt-2">
            <div class="col-md-4">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="image1_tc_inside">
                            <a href="">
                                <H1>Etre jeune et propriétaire, c'est possible !</H1>
                            </a>
                        </div>

                        <div class="col-md-12 mt-4" id="image2_tc_inside">
                            <a href="">
                                <H3 class="text-white p-4">Pensez au Livret A pour votre enfant!</H3>
                            </a>
                        </div>


                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <p><span>U</span>ne banque qui s'adapte à vous, ça change tout : des process simples, 100 % en ligne, sécurisés et toute la gamme de produits dont vous avez besoin au meilleur prix ! Puisqu'une question ne peut rester sans réponse :Nos conseillers
                    clients basés en France, sont disponibles par téléphone du lundi au vendredi de 8h à 22h et même le samedi de 8h45 à 16h30, mais aussi par email ou par courrier. Retrouvez également toutes les réponses à vos questions directement en
                    ligne 24h/24. Des questions pour ouvrir votre compte, joignez nos conseillers commerciaux par tchat.
                </p>
            </div>

            <div class="col-md-4">
                <h6>ACTUALITES</h6>


            </div>
        </div>

    </div>
</main>


<!-- FIN third_content -->